*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading{
    font-size: 4rem;
    text-decoration: none;
    color: black;
}